{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header">
                <h2 class="mb-0">Înregistrează-ți Blogul Calimara</h2>
            </div>
            <div class="card-body">
                <form id="registerForm">
                    <div class="mb-3">
                        <label for="username" class="form-label">Nume de utilizator:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                        <small class="form-text text-muted">Micul tău blog se va găsi la subdomeniu ({{ "numeutilizator" if not current_domain or current_domain == "calimara.ro" else current_domain.split('.')[0] }}).calimara.ro. Nu poți modifica această opțiune mai târziu!</small>
                    </div>
                    <div class="mb-3">
                        <label for="subtitle" class="form-label">Motto:</label>
                        <input type="text" class="form-control" id="subtitle" name="subtitle">
                        <small class="form-text text-muted">Subtitlu, motto, strigăt de luptă, frază de înțelepciune, aceasta este subtitlul micii tale călimare. Poate fi modificat oricând.</small>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Parolă:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <hr>
                    <div id="registerError" class="alert alert-danger" style="display: none;"></div>
                    <div id="registerSuccess" class="alert alert-success" style="display: none;"></div>
                    <button type="submit" class="btn btn-primary">Înregistrează-te</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
